@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFF;
	margin: 0;
	padding: 0;
	color: #000;
	width: 100%;
	
}
a img {
	border: none;
}

.container {
	width: 100%;
	background-color: #FFF;
	margin: 0 auto; 
}

.header {
	width: 100%;
	background-color: #FFF;
	text-align:center;
	height:13em;
	margin-top: 0;
	padding-top: 0;
}

.footer {
	padding-top: 20px;
	background-color:#C9F;
	height:11em;
	width: 100%;
	font-size:1em;
	clear: both;
	
}

.sidebar1 {
	float: left;
	width: 5%;
	background-color: #FFF;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 90%;
	float: left;
}
.sidebar2 {
	float: left;
	width: 5%;
	background-color: #FFF;
	padding: 10px 0;
}

<!-- BOTON REDONDEADO !-->
/* Botón */

.boton {
    display: inline-block;
    zoom: 2;
    *display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    font: 1em Arial;
   	padding: .10em 6em .105em;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.boton:hover { text-decoration: none; }


.redondo {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
 

.negro {
    color: black;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCF));    
    background: -moz-linear-gradient(top,  #FFF,  #CCF);
    
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
	
}
.negro:hover {
	color: #d7d7d7;
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#90C), to(#909));
    
    background: -moz-linear-gradient(top,  #90C,  #909);
	
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

<!-- FIN BOTON REDONDEADO !-->
h1.footer{
	font-size:3em;
	padding-bottom:0;
} 