@charset "utf-8";
/* body {
	font: 100%/1.4 Arial, Helvetica, sans-serif
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}*/


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen de la etiqueta div contenedora. El margen inferior restante lo mantendrá separado de los elementos de que le sigan. */
	padding-right: 15px;
	padding-left: 15px; /* la adición de relleno a los lados del elemento dentro de las divs, en lugar de en las divs propiamente dichas, elimina todas las matemáticas de modelo de cuadro. Una div anidada con relleno lateral también puede usarse como método alternativo. */
}

h1, h2, h3, h4, h5, h6{		color:#501E51;	}
	
h3,h4,h5,h6{ 		margin-bottom: 5px;	}

.entrada
{
	background-color: #DEAADF;
	width: 140px;
}
input:disabled
{
	background-color: gray;
	color: black;
}
.tablaMaqueta
{
	border:0;
	width: 80%;
	text-align: left;
	padding-left: 14px;
}

.listado
{
	margin-left:10px;
	padding-left: 10px;
	border: 1;
	border-style:ridge;
	border-collapse:collapse;
	border-color: #DEAADF;
	text-align: center;
}

table.listado
{		width: 95%; 	}

th.listado
{
	background-color:#90C;
	color:#FFF;
}
h4 a 
{	color:red;	}








